<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<h1>Friend List</h1>
	{% if friends_list %}

	<ul>
		{% for user in friends_list %}
		<li>
			{{ user.username }} -
			<span
				style="height: 10px; width: 10px; background-color: {% if user.activity == 'ON' %}green{% elif user.activity == 'OF' %}red{% else %}yellow{% endif %}; border-radius: 50%; display: inline-block;"></span>
			{% if user.activity == 'ON' %}
			Enligne
			{% elif user.activity == 'OF' %}
			Hors Ligne
			{% else %}
			Absent
			{% endif %}
		</li>
		{% endfor %}
	</ul>

	{% else %}
	<p>No Friends are available</p>
	{% endif %}

	<h1 id="randint">INTEGER</h1>
	<input id="login" class="logbutton" type="button" value="Login" style="background-color: lightgreen">
	<input id="logout" class="logbutton" type="button" value="Logout" style="background-color: pink">

	<script>
		const socket = new WebSocket(
			'ws://'
			+ window.location.host
			+ "/ws/some_url/"
		);

		socket.onmessage = function (e) {
			console.log("Get message " + e.data + " from websocket")

			let data = JSON.parse(e.data);
			let username = data.message.username;
			let spans = document.querySelectorAll("ul > li > span");
			let target_span = Array.from(spans).find(span => {
				return span.parentNode.textContent.includes(username);
			});

			if (data.message.action === "login")
			{
				console.log(username + " Is logging in. 🟢")
				target_span.style.backgroundColor = 'green';
			}
			else if (data.message.action === "logout")
			{
				console.log(username + " Is logging out.🔻")
				target_span.style.backgroundColor = 'red';
			}
		}


		const loginBtn = document.getElementById("login")
		const logoutBtn = document.getElementById("logout")
		document.querySelector(".logbutton")

		loginBtn.onclick = function (e) {
			let username = "Chet"
			socket.send(
				JSON.stringify({
					"message": {
						"username": username,
						"action": "login"
					}
				})
			)
		}

		logoutBtn.onclick = function (e) {
			let username = "Chet"
			socket.send(
				JSON.stringify({
					"message": {
						"username": username,
						"action": "logout"
					}
				})
			)
		}

	</script>

</body>

</html>