{% if friends_list %}
<ul style="width: 100px">
	{% for friend in friends_list %}
	<li class="friend">
		<span class="username">{{friend.username}}</span>
		<span class="user-status-circle"
			style="background-color: {% if friend.activity == 'ON' %}green{% elif friend.activity == 'OF' %}red{% else %}yellow{% endif %}"></span>
	</li>
	{% endfor %}
</ul>
{% else %}
<p>No Friends are available</p>
{% endif %}
{% for user in  invites_in %}
	<form class="invite">
		<span class="username">{{friend.username}}</span>
		<span>
			<input type="submit" class="accept" value="Y">
			<input type="submit" class="decline" value="N">
		</span>
	<form>

{% endfor %}