* {
	margin: 0;
	padding: 0;
}

:root {
	--dark-color: #000000;
	--purple-color: #69327A;
	--blue-color: #249DC6;
	--soft-blue-color: #00FAFA;
	--red-color: #9D2406;
	--green-color: #88AD40;
	--yellow-color: #F2D811;
	--orange-color: #E68A2B;
	font-family: 'Courier';
}

.gradient {
	background: linear-gradient(90deg, var(--purple-color) 0%, var(--blue-color) 100%);
}

h1 {
	background: linear-gradient(90deg, #CA78E5 0%, #1e1023 120%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	font-size: calc(20px + 0.390625vw);
	margin-left: 5px;
	cursor: pointer;
}

h2 {
	background: linear-gradient(90deg, var(--purple-color) 0%, var(--blue-color) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	font-size: calc(20px + 0.390625vw);
	margin-top: -15px;
}

body {
	height: 100vh;
	width: 100vw;
	padding: 40px;
	box-sizing: border-box;
}

.master {
	display: flex;
	justify-content: space-between; /* Align items at both ends */
	align-items: center; /* Center items vertically in the middle */
	position: relative;
	height: 100%;
	width: 100%;
	background: var(--dark-color);
	box-sizing: border-box;
	padding: 10px; /* Add padding for spacing */
	border-radius: 20px;
}

.nav {
	display: flex;
	justify-content: space-between; /* Align items at both ends */
	align-items: center; /* Center items vertically in the middle */
	position: absolute;
	text-align: right;
	width: 98%;
	top: 20px;
}

.is-signed-in {
	width: '100%';
	display: flex;
	justify-content: space-between;
}

.main-nav-links a ,
.is-signed-in a {
	color: var(--soft-blue-color);
	text-align: right;
	padding: 10px;
	text-decoration: none;
	font-size: calc(12px + 0.390625vw);
}

.main-nav-links a ,
.not-signed-in a {
	color: var(--soft-blue-color);
	text-align: right;
	padding: 10px;
	text-decoration: none;
	font-size: calc(12px + 0.390625vw);
}

.main-nav-links a:hover,
.is-signed-in a:hover, .not-signed-in a:hover {
	color: #249DC6; /* Change the color when hovering */
}

.main-nav-links a.active,
.is-signed-in a.active, .not-signed-in a.active{
	color: #fff; /* Change the color for the active link */
} 

.content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center; /* Center the content vertically */
	align-items: center; /* Center the content horizontally */
}

/* ---------------------------------------------------------------------- */
/* ----------------------------- FOOTER --------------------------------- */
/* ---------------------------------------------------------------------- */

.footer {
	display: flex;
	flex-direction: row; /* Align h5 and other footer content horizontally */
	align-items: center; /* Center vertically if needed */
	justify-content: space-between; /* Adjust as needed */
	color: var(--soft-blue-color);
	text-align: center;
	padding: 10px; /* Adjust the padding as needed */
}

h5 {
	color: var(--blue-color);
	font-size: calc(7px + 0.390625vw);
}

.footer-links {
	list-style: none;
	padding: 0;
}

.footer-links li {
	display: inline; /* or 'inline-block' if you want to give some margin, padding, etc. */
	margin-right: 10px; /* Adjust spacing as needed */
}

.github-link {
	text-decoration: none;
	color: var(--purple-color);
	font-size: calc(6px + 0.390625vw);
}

.github-link:hover,
.github-link:hover .fa-brands {
	color: #ddd; /* Color on hover */
}

#github-links {
	text-decoration: none;
	color: #ddd;
}

/* ---------------------------------------------------------------------- */
/* ------------------------------ AUTH ---------------------------------- */
/* ---------------------------------------------------------------------- */

.is-signed-in {
	width: '100%';
	display: none;
	justify-content: space-between;
}

.main-nav-links {
	width:auto;
}

.not-signed-in {
	width: '100%';
	display: flex;
	justify-content: space-between;
}

.login-container, .signup-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: linear-gradient(270deg, var(--purple-color) 0%, var(--blue-color) 100%);
	border-radius: 20px;
	min-width: 30%; /* Ajoutez la valeur minimale en pixels */
	min-height: 70%; 
	overflow: hidden;
	box-shadow: 0 0 30px 7px rgba(255, 255, 255, 0.2);
	opacity: 85%;
}

.login-container-black , .signup-container-black {
	position: fixed;
	width: 87%;
	height: 92%;
	background: var(--dark-color);
	border-radius: 20px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 85%;
	
}

.login-container-login, .signup-container-login {
	position: absolute;
	align-items: center;
	justify-content: center;
	background: transparent;
	border-radius: 20px;
	overflow-y: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding-bottom: 20px; /* Ajoutez cet espace pour le message d'erreur */
	overflow: auto;
	box-sizing: border-box; /* Inclure le padding et la bordure dans la hauteur et la largeur */
	padding: 10px; /* Ajouter un rembourrage pour éviter le débordement du contenu */
	max-height: 90%;
	width: 80%; 
}

.pong-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	background: linear-gradient(270deg, var(--purple-color) 0%, var(--blue-color) 100%);
	border-radius: 20px;
	width: 35%; /* Ajoutez la valeur minimale en pixels */
	min-width: 500px;
	min-height: 70%; 
	overflow: hidden;
	box-shadow: 0 0 30px 7px rgba(255, 255, 255, 0.2);
	opacity: 75%;
}

.pong-container-black {
	position: fixed;
	width: 90%;
	height: 90%;
	z-index: 11;
	background: var(--dark-color);
	border-radius: 20px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 75%;
}

.pong-container-login {
	position: absolute;
	align-items: center;
	justify-content: center;
	z-index: 12;
	max-height: 70%;
	background: transparent;
	border-radius: 20px;
	overflow-y: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding-bottom: 20px; /* Ajoutez cet espace pour le message d'erreur */
	overflow: auto;
	box-sizing: border-box; /* Inclure le padding et la bordure dans la hauteur et la largeur */
	padding: 20px; /* Ajouter un rembourrage pour éviter le débordement du contenu */
	width: 80%; 
}

.pong-container-login .buttons-container {
	display: flex;
	justify-content: space-between; /* You can use 'space-around' or 'space-evenly' depending on your preference */
	width: 100%; /* Adjust the width as needed */
}

.profile-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: linear-gradient(270deg, var(--purple-color) 0%, var(--blue-color) 100%);
	border-radius: 20px;
	min-width: 50%; /* Ajoutez la valeur minimale en pixels */
	min-height: 60%; 
	overflow: hidden;
	box-shadow: 0 0 30px 7px rgba(255, 255, 255, 0.2);
	opacity: 85%;
}

.profile-container-black {
	display: flex;
	flex-direction: column;
	justify-content: space-between; /* Cela poussera le contenu en haut et en bas respectivement */
	align-items: center; 
	position: fixed;
	width: 90%;
	height: 90%;
	background: var(--dark-color);
	border-radius: 20px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 85%;
}

.profile-container-login {
	position: absolute;
	align-items: center;
	justify-content: center;
	background: transparent;
	border-radius: 20px;
	overflow-y: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding-bottom: 20px; /* Ajoutez cet espace pour le message d'erreur */
	max-height: 90%;
	overflow: auto;
	box-sizing: border-box; /* Inclure le padding et la bordure dans la hauteur et la largeur */
	padding: 20px; /* Ajouter un rembourrage pour éviter le débordement du contenu */
	width: 80%; 
}

.profile-container-login .buttons-container {
	display: flex;
	justify-content: space-between; /* You can use 'space-around' or 'space-evenly' depending on your preference */
	width: 100%; /* Adjust the width as needed */
}

.profile-infos {
	color: #00FAFA;
	display: flex;
}

.profile-container-content {
	color: #fff;
}

.onevsone-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: linear-gradient(270deg, var(--purple-color) 0%, var(--blue-color) 100%);
	border-radius: 20px;
	width: 40%; /* Ajoutez la valeur minimale en pixels */
	min-width: 500px;
	min-height: 80%; 
	overflow: hidden;
	box-shadow: 0 0 30px 7px rgba(255, 255, 255, 0.2);
	opacity: 85%;
}

.onevsone-container-black {
	display: flex;
	flex-direction: column;
	justify-content: space-between; /* Cela poussera le contenu en haut et en bas respectivement */
	align-items: center; /* Cela centrera les enfants horizontalement */
	width: 90%;
	height: 90%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: var(--dark-color);
	border-radius: 20px;
	padding: 20px; /* Ajoutez du padding selon vos besoins */
	box-sizing: border-box;
	opacity: 85%;
}

.players-container {
	display: flex;
	justify-content: space-around; /* Ajustez l'espacement entre les joueurs */
	width: 100%; /* Assurez-vous que le conteneur prend toute la largeur possible */
	overflow: auto;
}

.players-container > * { /* Sélectionne tous les enfants directs du players-container */
	flex: 1;  /* Cela permet à chaque enfant de prendre une part égale de l'espace disponible */
}

.player2-input-ok-container {
	display: flex; /* Active Flexbox */
	align-items: center; /* Centre les éléments verticalement */
	gap: 10px; /* Ajoute un espace entre l'input et le bouton */
}

.input-group.player2-container, .player1-container, .player2-container {
	display: flex;
	flex-direction: column; /* Organise le titre et le nouveau conteneur verticalement */
	align-items: center; /* Alignement au début pour garder le titre aligné avec l'input */
}

.button3-container {
	width: 50%; /* Adapté à la largeur du conteneur parent */
	display: flex;
	justify-content: center; /* Centre le bouton3 horizontalement */
	align-items: center; /* Centre le bouton3 verticalement, utile si vous avez une hauteur spécifique */
}

.button1, .button2 {
	width: 43%; /* Adjust the width of the buttons based on your design */
	min-width: 125px;
	margin-top: 30px;
	background-color: #2D2D2D;
	color:var(--soft-blue-color);
	border: 1px solid var(--soft-blue-color);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: calc(15px + 0.390625vw);
	height: 70%;
	font-family:'Courier';
	font-size: calc(20px + 0.390625vw);
	font-weight: medium;
	text-align: center;
	border-radius: 20px;
	cursor: pointer;
	transition: background-color 0.2s;
}

.button3, .button4 {
	width: 48%; /* Adjust the width of the buttons based on your design */
	background-color: #2D2D2D;
	color: var(--soft-blue-color);
	border: 1px solid var(--soft-blue-color);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: calc(15px + 0.390625vw);
	height: 70%;
	font-family:'Courier';
	font-size: calc(20px + 0.390625vw);
	font-weight: medium;
	text-align: center;
	border-radius: 20px;
	cursor: pointer;
	transition: background-color 0.2s;
}

.button4 {
	margin-bottom: 40px;
	min-width: 125px;
}

.signup-header {
	text-align: center;
	margin-bottom: .5vw;
}

.signup-header-onevsone {
	text-align: center;
	margin-top: 1.5vw;
}

.header-title, .onevsone-title {
	color: var(--soft-blue-color);
	font-size: calc(40px + 0.390625vw);
}

.onevsone-player-title {
	color: var(--soft-blue-color);
	font-size: calc(20px + 0.390625vw);
}

.signup-description {
	color: var(--soft-blue-color);
	font-size: calc(10px + 0.390625vw);
}

.signup-form .input-row {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-bottom: 1rem;
	overflow: hidden;
}

.error-container {
	height: calc(15px + 0.390625vw);
	overflow: hidden;
	transition: height 0.3s ease-in-out;
	box-sizing: border-box; /* Inclure les marges et les paddings dans la hauteur totale */
}

.login-error-message {
	font-size: calc(10px + 0.390625vw);
	color: var(--red-color);
	visibility: hidden; /* Cachez initialement le message */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.error-container.show-error {
	height: calc(15px + 0.390625vw); /* Ajustez la hauteur lorsque le message est visible */
}

.error-container.show-error .login-error-message {
	visibility: visible; /* Rendez le message visible lorsque la classe show-error est présente */
}

.signup-form .input-group input.error {
	outline: 2px solid var(--red-color); /* Bordure rouge lorsqu'il y a une erreur */
	border-color: transparent; /* Vous pouvez ajuster cela en fonction de vos préférences */
	opacity:  0.9;
}

.signup-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.signup-error {
	font-size: calc(10px + 0.390625vw);
	color: var(--red-color);
	opacity:  1;
}

.input-group {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	width: 100%; /* Prend toute la largeur du conteneur pour permettre un centrage horizontal */
	justify-content: center; /* Centre l'input horizontalement dans .input-group */
	align-items: center; /* Centre l'input verticalement si nécessaire */
}

.input-group input.login-is-invalid {
	border-color: var(--red-color);
}

.input-group input {
	height: calc(15px + 0.390625vw);
	padding: 0.5rem;
	border: 1px solid var(--dark-color);
	border-radius: 20px;
	background-color: #5B5B5B;
	font-size: calc(10px + 0.390625vw);
	flex-grow: 1;
}

#player2, #player3, #player4 {
	width: 5vw;
	font-size: calc(7px + 0.390625vw);
}

.input-group input:focus {
	outline: 2px solid var(--soft-blue-color);
	border-color: transparent;
}

.signup-btn,
.enable-2fa-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.5rem;
	width: 50%;
	height: 2.5rem;
	font-family:'Courier';
	font-size: calc(15px + 0.390625vw);
	font-weight: medium;
	text-align: center;
	border-radius: 20px;
	cursor: pointer;
	transition: background-color 0.2s;
	margin: 16px 0px;
}

.signup-title {
	color: var(--soft-blue-color);
	font-size: calc(10px + 0.390625vw);
	margin-top: 10px;
	margin-bottom: 2px;
}

.signup-btn, .enable-2fa-btn{
	margin-top: 10px;
	background-color: #2D2D2D;
	color: var(--soft-blue-color);
	border: 1px solid var(--soft-blue-color);
}

.signup-btn:hover, .enable-2fa-btn:hover {
	background-color: #5B5B5B;
}

/* ---------------------------------------------------------------------- */
/* ------------------------------ OTP ----------------------------------- */
/* ---------------------------------------------------------------------- */

#otp-form .otp-error {
	font-size: calc(10px + 0.390625vw);
	color: var(--red-color);
	opacity:  0.9;
}

.edit-profile-container {
	max-width: 32rem;
	margin: auto;
	padding: 1.5rem;
	height: '100%';
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#profile-container-avatar {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
}

#profile-update-errors {
	color: var(--red-color);
	font-size: calc(10px + 0.390625vw);
	opacity:  0.9;
}

.settings-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	background: linear-gradient(270deg, var(--purple-color) 0%, var(--blue-color) 100%);
	border-radius: 20px;
	min-width: 60%; /* Ajoutez la valeur minimale en pixels */
	min-height: 50%; 
	overflow: hidden;
	box-shadow: 0 0 30px 7px rgba(255, 255, 255, 0.2);
}

.avatar-upload-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px; /* Adjust the margin as needed */
}

.avatar-upload-btn {
	cursor: pointer;
	background-color: #f0f0f0; /* Light grey background, you can change it */
	border: 2px dashed #dcdcdc; /* Dashed border, you can change it */
	border-radius: 50%; /* This makes it round */
	width: 100px; /* Diameter of the circle */
	height: 100px; /* Diameter of the circle */
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	position: relative;
}

.avatar-upload-btn::after {
	content: '+';
	font-size: 24px; /* Adjust the size of the plus icon */
	color: #888; /* Color of the plus icon */
}

/* Optional: Style to change the appearance when hovering over the button */
.avatar-upload-btn:hover {
	background-color: #e0e0e0; /* Slightly darker background on hover */
}

select {
	padding: 10px;
	margin: 10px;
	border: 2px solid var(--dark-color);
	font-size: calc(7px + 0.390625vw);
}

option[value="red"] { background-color: #9D2406; }
option[value="blue"] { background-color: #249DC6; }
option[value="green"] { background-color: #88AD40; }
option[value="yellow"] { background-color: #F2D811; }
option[value="orange"] { background-color: #E68A2B; }
option[value="purple"] { background-color: #69327A; }

