* {
	margin: 0;
	padding: 0;
}
:root {
	--main-dark-color: #000000;
	--main-purple-color: #69327A;
	--main-blue-color: #249DC6;
	--main-soft-blue-color: #00FAFA;
	font-family: 'Courier';
	
}

.gradient {
	background: linear-gradient(90deg, var(--main-purple-color) 0%, var(--main-blue-color) 100%);
}

h1 {
	background: linear-gradient(90deg, #CA78E5 0%, #1e1023 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	font-size: 32px;
	margin-left: 30px;
	margin-top: -15px;
	padding: 1em;
}

h2 {
	background: linear-gradient(90deg, var(--main-purple-color) 0%, var(--main-blue-color) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	font-size: 30px;
	margin-top: -15px;
	/* padding: 1em; */
}

body {
/*   font-family: 'Courier'; */
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 40px;
	box-sizing: border-box;
}

.master {
	display: flex;
	justify-content: space-between; /* Align items at both ends */
	align-items: center; /* Center items vertically in the middle */
	position: relative;
	height: 100%;
	width: 100%;
	background: var(--main-dark-color);
	box-sizing: border-box;
	padding: 10px; /* Add padding for spacing */
	border-radius: 20px;
}

.nav {
	display: flex;
	justify-content: space-between; /* Align items at both ends */
	align-items: center; /* Center items vertically in the middle */
	position: absolute;
	text-align: right;
	width: 100%;
	top: 5px;
	right: 30px;
}

.is-signed-in {
	width: '100%';
	display: flex;
	justify-content: space-between;
	
}

.main-nav-links a ,
.is-signed-in a {
	color: var(--main-soft-blue-color);
	text-align: right;
	padding: 10px;
	text-decoration: none;
}

.main-nav-links a ,
.not-signed-in a {
	color: var(--main-soft-blue-color);
	text-align: right;
	padding: 10px;
	text-decoration: none;
}

.main-nav-links a:hover,
.is-signed-in a:hover {
	color: #249DC6; /* Change the color when hovering */
	/* background-color: #3089A8; Change the background color when hovering */
}

.not-signed-in a:hover {
	color: #249DC6; /* Change the color when hovering */
	/* background-color: #3089A8; Change the background color when hovering */
}

.main-nav-links a.active,
.is-signed-in a.active {
	color: #fff; /* Change the color for the active link */
}

.not-signed-in a.active {
	color: #fff; /* Change the color for the active link */
}

.content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center; /* Center the content vertically */
	align-items: center; /* Center the content horizontally */
}

.footer {
	display: flex;
	flex-direction: row; /* Align h5 and other footer content horizontally */
	align-items: center; /* Center vertically if needed */
	justify-content: space-between; /* Adjust as needed */
	color: var(--main-soft-blue-color);
	text-align: center;
	padding: 10px; /* Adjust the padding as needed */
}

h5 {
	color: var(--main-blue-color);
	font-size: 14px;
}

.fa-brands {
	padding-left: 10px;
}

.footer-links {
	list-style: none;
	padding: 0;
}

.footer-links li {
	display: inline; /* or 'inline-block' if you want to give some margin, padding, etc. */
	margin-right: 10px; /* Adjust spacing as needed */
}

.github-link {
	text-decoration: none;
	color: #69327A; /* Or any color */
}

.github-link:hover,
.github-link:hover .fa-brands {
	color: #ddd; /* Color on hover */
}


#github-links {
	text-decoration: none;
	color: #ddd;
}

/* ------------------------------------------------ */
/* AUTH */
/* ------------------------------------------------ */

.is-signed-in {
    width: '100%';
    display: none;
    justify-content: space-between;
}

.main-nav-links {
    width:auto;
}

.not-signed-in {
	width: '100%';
	display: flex;
	justify-content: space-between;
}

.signup-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	background: linear-gradient(270deg, #69327A 0%, #3089A8 100%);
	border-radius: 20px;
	min-width: 500px; /* Ajoutez la valeur minimale en pixels */
	min-height: 700px; 
	overflow: hidden;
	box-shadow: 0 0 30px 7px rgba(255, 255, 255, 0.2);
}

.signup-container-black {
	position: fixed;
	width: 87%;
	height: 92%;
	z-index: 11;
	background: black;
	border-radius: 20px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.signup-container-login {
	position: absolute;
	align-items: center;
	justify-content: center;
	z-index: 12;
	max-height: 700px;
	background: transparent;
	border-radius: 20px;
	overflow-y: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding-bottom: 20px; /* Ajoutez cet espace pour le message d'erreur */
	max-height: 700px;
	overflow: auto;
	box-sizing: border-box; /* Inclure le padding et la bordure dans la hauteur et la largeur */
	padding: 20px; /* Ajouter un rembourrage pour éviter le débordement du contenu */
	width: 80%; 
}

.login-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	background: linear-gradient(270deg, #69327A 0%, #3089A8 100%);
	border-radius: 20px;
	min-width: 500px; /* Ajoutez la valeur minimale en pixels */
	min-height: 600px; 
	overflow: hidden;
	box-shadow: 0 0 30px 7px rgba(255, 255, 255, 0.2);
}

.login-container-black {
	position: fixed;
	width: 87%;
	height: 92%;
	z-index: 11;
	background: black;
	border-radius: 20px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.login-container-login {
	position: absolute;
	align-items: center;
	justify-content: center;
	z-index: 12;
	max-height: 900px;
	background: transparent;
	border-radius: 20px;
	overflow-y: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding-bottom: 20px; /* Ajoutez cet espace pour le message d'erreur */
	max-height: 600px;
	overflow: auto;
	box-sizing: border-box; /* Inclure le padding et la bordure dans la hauteur et la largeur */
	padding: 20px; /* Ajouter un rembourrage pour éviter le débordement du contenu */
	width: 80%; 
}

.pong-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	background: linear-gradient(270deg, #69327A 0%, #3089A8 100%);
	border-radius: 20px;
	min-width: 650px; /* Ajoutez la valeur minimale en pixels */
	min-height: 500px; 
	overflow: hidden;
	box-shadow: 0 0 30px 7px rgba(255, 255, 255, 0.2);
}

.pong-container-black {
	position: fixed;
	width: 90%;
	height: 90%;
	z-index: 11;
	background: black;
	border-radius: 20px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.pong-container-login {
	position: absolute;
	align-items: center;
	justify-content: center;
	z-index: 12;
	max-height: 900px;
	background: transparent;
	border-radius: 20px;
	overflow-y: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding-bottom: 20px; /* Ajoutez cet espace pour le message d'erreur */
	max-height: 500px;
	overflow: auto;
	box-sizing: border-box; /* Inclure le padding et la bordure dans la hauteur et la largeur */
	padding: 20px; /* Ajouter un rembourrage pour éviter le débordement du contenu */
	width: 80%; 
}

.pong-container-login .buttons-container {
	display: flex;
	justify-content: space-between; /* You can use 'space-around' or 'space-evenly' depending on your preference */
	width: 100%; /* Adjust the width as needed */
}

.profile-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	background: linear-gradient(270deg, #69327A 0%, #3089A8 100%);
	border-radius: 20px;
	min-width: 950px; /* Ajoutez la valeur minimale en pixels */
	min-height: 600px; 
	overflow: hidden;
	box-shadow: 0 0 30px 7px rgba(255, 255, 255, 0.2);
}

.profile-container-black {
	position: fixed;
	width: 90%;
	height: 90%;
	z-index: 11;
	background: black;
	border-radius: 20px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.profile-container-login {
	position: absolute;
	align-items: center;
	justify-content: center;
	z-index: 12;
	max-height: 900px;
	background: transparent;
	border-radius: 20px;
	overflow-y: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding-bottom: 20px; /* Ajoutez cet espace pour le message d'erreur */
	max-height: 500px;
	overflow: auto;
	box-sizing: border-box; /* Inclure le padding et la bordure dans la hauteur et la largeur */
	padding: 20px; /* Ajouter un rembourrage pour éviter le débordement du contenu */
	width: 80%; 
}

.profile-container-login .buttons-container {
	display: flex;
	justify-content: space-between; /* You can use 'space-around' or 'space-evenly' depending on your preference */
	width: 100%; /* Adjust the width as needed */
}

.onevsone-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	background: linear-gradient(270deg, #69327A 0%, #3089A8 100%);
	border-radius: 20px;
	min-width: 950px; /* Ajoutez la valeur minimale en pixels */
	min-height: 800px; 
	overflow: hidden;
	box-shadow: 0 0 30px 7px rgba(255, 255, 255, 0.2);
}

.onevsone-container-black {
	display: flex;
	flex-direction: column;
	justify-content: space-between; /* Cela poussera le contenu en haut et en bas respectivement */
	align-items: center; /* Cela centrera les enfants horizontalement */
	width: 90%;
	height: 90%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: black;
	border-radius: 20px;
	padding: 20px; /* Ajoutez du padding selon vos besoins */
	box-sizing: border-box;
	z-index: 11;
}

.players-container {
	display: flex;
	justify-content: space-around; /* Ajustez l'espacement entre les joueurs */
	width: 100%; /* Assurez-vous que le conteneur prend toute la largeur possible */
	padding: 20px 0; /* Ajoutez du padding selon vos besoins */
}

.player1-container, .player2-container {
	display: flex;
	flex-direction: column; /* Organise le contenu de chaque joueur verticalement */
	align-items: center; /* Centre les éléments verticalement */
}

.player2-input-ok-container {
	display: flex; /* Active Flexbox */
	align-items: center; /* Centre les éléments verticalement */
	gap: 10px; /* Ajoute un espace entre l'input et le bouton */
}

.input-group.player2-container {
	display: flex;
	flex-direction: column; /* Organise le titre et le nouveau conteneur verticalement */
	align-items: center; /* Alignement au début pour garder le titre aligné avec l'input */
}

.button3-container {
	width: 50%; /* Adapté à la largeur du conteneur parent */
	display: flex;
	justify-content: center; /* Centre le bouton3 horizontalement */
	align-items: center; /* Centre le bouton3 verticalement, utile si vous avez une hauteur spécifique */
	/* margin-top: auto; Pousse le conteneur vers le bas */
}

.button1,
.button2 {
	width: 48%; /* Adjust the width of the buttons based on your design */
	margin-top: 30px;
	background-color: #2D2D2D;
	color: #00FAFA;
	border: 1px solid #00FAFA;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.5rem;
	width: 100%;
	height: 70%;
	font-family:'Courier';
	font-size: 1.8rem;
	font-weight: medium;
	text-align: center;
	border-radius: 20px;
	cursor: pointer;
	transition: background-color 0.2s;
	margin: 40px 40px 0px 20px;
}

.button3 {
	width: 48%; /* Adjust the width of the buttons based on your design */
	/* margin-top: 30px; */
	background-color: #2D2D2D;
	color: #00FAFA;
	border: 1px solid #00FAFA;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.5rem;
	width: 100%;
	height: 70%;
	font-family:'Courier';
	font-size: 1.8rem;
	font-weight: medium;
	text-align: center;
	border-radius: 20px;
	cursor: pointer;
	transition: background-color 0.2s;
	/* margin: 40px 40px 0px 20px; */
}

.button4 {
	width: 48%; /* Adjust the width of the buttons based on your design */
	/* margin-top: 30px; */
	background-color: #2D2D2D;
	color: #00FAFA;
	border: 1px solid #00FAFA;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.5rem;
	width: 100%;
	height: 70%;
	font-family:'Courier';
	font-size: 1.8rem;
	font-weight: medium;
	text-align: center;
	border-radius: 20px;
	cursor: pointer;
	transition: background-color 0.2s;
	margin-bottom: 40px;
}

.signup-header {
	text-align: center;
	margin-bottom: 1.5rem;
}

.signup-header-onevsone {
	text-align: center;
	margin-top: 1.5rem;
}

.header-title {
	color: #00FAFA;
	/* padding: 10px; */
	margin-left: 50px;
	margin-right: 50px;
	font-size: 3rem;
}

.onevsone-title {
	color: #00FAFA;
	font-size: 4rem;
}

.onevsone-player-title {
	color: #00FAFA;
	font-size: 2.5rem;
}

.signup-description {
	color: #00FAFA;
}

.signup-form .input-row {
	display: flex;
	gap: 1rem;
	margin-bottom: 1rem;
	overflow: hidden;
}

.visible {
	display: block !important; /* Utilisez !important pour vous assurer qu'elle prend le dessus sur d'autres styles */
}

.error-container {
	height: 50px;
	overflow: hidden;
	transition: height 0.3s ease-in-out;
	box-sizing: border-box; /* Inclure les marges et les paddings dans la hauteur totale */
}

.login-error-message {
	font-size: 0.875rem;
	color: #9D2406;
	visibility: hidden; /* Cachez initialement le message */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.error-container.show-error {
	height: 50px; /* Ajustez la hauteur lorsque le message est visible */
}

.error-container.show-error .login-error-message {
	visibility: visible; /* Rendez le message visible lorsque la classe show-error est présente */
}

.signup-form .input-group input.error {
	outline: 2px solid #9D2406; /* Bordure rouge lorsqu'il y a une erreur */
	border-color: transparent; /* Vous pouvez ajuster cela en fonction de vos préférences */
	opacity:  0.9;
}

.signup-error {
	font-size: 0.875rem;
	color: #9D2406;
	opacity:  1;
}

.input-group {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	/* margin-bottom: 1rem; */
}

.input-group input.login-is-invalid {
	border-color: #9D2406;
}

.input-group input {
	height: 2rem;
	padding: 0.5rem;
	border: 1px solid #000000;
	border-radius: 20px;
	background-color: #5B5B5B;
	font-size: 0.875rem;
	flex-grow: 1;
}

.input-group input:focus {
	outline: 2px solid #00FAFA;
	border-color: transparent;
}

.signup-btn,
.enable-2fa-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.5rem;
	width: 100%;
	height: 2.5rem;
	font-family:'Courier';
	font-size: 1.5rem;
	font-weight: medium;
	text-align: center;
	border-radius: 20px;
	cursor: pointer;
	transition: background-color 0.2s;
	margin: 16px 0px;
}

.signup-title {
	color: #00FAFA;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 2px;
}

.signup-btn {
	margin-top: 10px;
	background-color: #2D2D2D;
	color: #00FAFA;
	border: 1px solid #00FAFA;
}

.signup-btn:hover {
	background-color: #5B5B5B;
}

.enable-2fa-btn {
	background-color: #2D2D2D;
	color: #00FAFA;
	border: 1px solid #00FAFA;
}

.enable-2fa-btn:hover {
	background-color: #5B5B5B;
}

/* ---------------------------------------------------------------------- */
/* ----------------------------------- OTP ----------------------------------- */
/* ---------------------------------------------------------------------- */
#otp-form .otp-error {
    font-size: 0.875rem;
    color: red;
    opacity:  0.9;
}

/* #root #content #pong {
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* ---------------------------------------------------------------------- */
/*PONG*/
/* ---------------------------------------------------------------------- */
#pong {
    /* border:  solid greenyellow; */
    position: relative;
    width: 100%;
    height: 100%;
    /* display: none; */
    justify-content: center;
    align-items: center;
    margin: 0;
}

#pong #playerInfo1, #pong #playerInfo2, #pong #playerInfo3, #pong #playerInfo4{
        text-align: center;
        width: 200px;
        height: 275px;
        border-radius: 20px;
        color: white;
        font-size: 1.3em;
        border: solid white 5px;
        box-shadow: white 5px 5px 20px;
        margin: 10px;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

#pong #playerInfo1{
    display: none;
    bottom: 0;
    left: 5%;
    background-color: #0000ff66;
}

#pong #playerInfo2{
    display: none;
    top: 0;
    right: 5%;
    background-color: #ff000066;
}

#pong #playerInfo3{
    display: none;
    top: 0;
    left: 5%;
    background-color: #ffff0066;
}

#pong #playerInfo4{
    display: none;
    bottom: 0;
    right: 5%;
    background-color: #00ffff66;
}

#pong #player1avatar, #pong #player2avatar, #pong #player3avatar, #pong #player4avatar{
	border-radius: 20px;
	border: solid 5px;
	width: 150px;
	height: 150px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: -15px;
}

#pong #player1name, #pong #player2name, #pong #player3name, #pong #player4name{
	font-size: 20px;
}

#pong #p1Score, #pong #p2Score, #pong #p3Score, #pong #p4Score{
	border-radius: 20px;
	border: solid 5px;
	width: 75px;
	height: 50px;
	margin: 0 auto;
	margin-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 45px;
}

.edit-profile-container {
    max-width: 32rem;
    margin: auto;
    padding: 1.5rem;
    height: '100%';
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.settings-container {
    display: none;
    height: '100%';
    width: '100%';
    flex-direction: column;
    justify-content: center;
}


/* ---------------------------------------------------------------------- */
/* ----------------------------------- LOBBY ----------------------------------- */
/* ---------------------------------------------------------------------- */

.lds-default {
    display: none;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-default div {
    position: absolute;
    width: 6px;
    height: 6px;
    background: blue;
    border-radius: 50%;
    animation: lds-default 1.2s linear infinite;
  }
  .lds-default div:nth-child(1) {
    animation-delay: 0s;
    top: 37px;
    left: 66px;
  }
  .lds-default div:nth-child(2) {
    animation-delay: -0.1s;
    top: 22px;
    left: 62px;
  }
  .lds-default div:nth-child(3) {
    animation-delay: -0.2s;
    top: 11px;
    left: 52px;
  }
  .lds-default div:nth-child(4) {
    animation-delay: -0.3s;
    top: 7px;
    left: 37px;
  }
  .lds-default div:nth-child(5) {
    animation-delay: -0.4s;
    top: 11px;
    left: 22px;
  }
  .lds-default div:nth-child(6) {
    animation-delay: -0.5s;
    top: 22px;
    left: 11px;
  }
  .lds-default div:nth-child(7) {
    animation-delay: -0.6s;
    top: 37px;
    left: 7px;
  }
  .lds-default div:nth-child(8) {
    animation-delay: -0.7s;
    top: 52px;
    left: 11px;
  }
  .lds-default div:nth-child(9) {
    animation-delay: -0.8s;
    top: 62px;
    left: 22px;
  }
  .lds-default div:nth-child(10) {
    animation-delay: -0.9s;
    top: 66px;
    left: 37px;
  }
  .lds-default div:nth-child(11) {
    animation-delay: -1s;
    top: 62px;
    left: 52px;
  }
  .lds-default div:nth-child(12) {
    animation-delay: -1.1s;
    top: 52px;
    left: 62px;
  }
  @keyframes lds-default {
    0%, 20%, 80%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
  }
select {
	padding: 10px;
	margin: 10px;
	border: 2px solid #000;
  }
  
  option[value="red"] { background-color: red; }
  option[value="blue"] { background-color: blue; }
  option[value="green"] { background-color: green; }
  option[value="yellow"] { background-color: yellow; }
  option[value="orange"] { background-color: orange; }
  option[value="purple"] { background-color: purple; }
  option[value="black"] { background-color: black; }
  option[value="white"] { background-color: white; color: black; }
