
/* Add your CSS here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}
.header, .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 1em;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#root {
    width: '100%';
    height: '100%';
}
.main {
    flex: 1;
    text-align: center;

}
.nav {
    background-color: #555;
    overflow: hidden;
}
.nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.nav a:hover {
    background-color: #ddd;
    color: black;
}

.fa-brands {
    padding-left: 10px;
}

.footer-links {
    list-style: none;
    padding: 0;
  }
  
  .footer-links li {
    display: inline; /* or 'inline-block' if you want to give some margin, padding, etc. */
    margin-right: 10px; /* Adjust spacing as needed */
  }
  
  .github-link {
    text-decoration: none;
    color: #ddd; /* Or any color */
  }
  
  .github-link:hover,
  .github-link:hover .fa-brands {
    color: #f37c6c; /* Color on hover */
  }
  

#github-links {
    text-decoration: none;
    color: #ddd;
}

/* ------------------------------------------------ */
/* AUTH */
/* ------------------------------------------------ */

.is-signed-in {
    width: '100%';
    display: flex;
    justify-content: space-between;
}

.main-nav-links {
    width:auto;
}

.not-signed-in {
    display: none;
    align-items: center;
    width: '100%';
}

#logout-div {
    width: auto;
}

.signup-container {
    max-width: 32rem;
    margin: auto;
    padding: 1.5rem;
    height: '100%';
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup-header {
    text-align: center;
    margin-bottom: 1.5rem;
}

.signup-title {
    font-size: 1.875rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.signup-description {
    color: #6b7280;
}

.signup-form .input-row {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.login-error-message {
    font-size: 0.875rem;
    color: red;
    opacity:  0.9;
}

.signup-error {
    font-size: 0.875rem;
    color: red;
    opacity:  0.9;
}

.input-group {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input-group input.login-is-invalid {
    border-color: red;
}

.input-group label {
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
    opacity: 0.7;
}

.input-group input {
    height: 2.5rem;
    padding: 0.5rem;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    background-color: #f9fafb;
    font-size: 0.875rem;
}

.input-group input:focus {
    outline: 2px solid #3b82f6;
    border-color: transparent;
}

.signup-btn,
.enable-2fa-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 1rem;
    width: 100%;
    height: 2.5rem;
    font-size: 0.875rem;
    font-weight: medium;
    text-align: center;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.2s;
    margin: 16px 0px;
}

.signup-btn {
    background-color: #2563eb;
    color: white;
    border: none;
}

.signup-btn:hover {
    background-color: #1d4ed8;
}

.enable-2fa-btn {
    background-color: #f9fafb;
    color: #374151;
    border: 1px solid #d1d5db;
}

.enable-2fa-btn:hover {
    background-color: #e5e7eb;
}

/* #root #content #pong {
    display: flex;
    align-items: center;
    justify-content: center;
} */

/*PONG*/
#root #pong {
    /* border:  solid greenyellow; */
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#root #pong #playerInfo1, #root #pong #playerInfo2, #root #pong #playerInfo3, #root #pong #playerInfo4{
        text-align: center;
        width: 200px;
        height: 275px;
        border-radius: 20px;
        color: white;
        font-size: 1.3em;
        border: solid white 5px;
        box-shadow: white 5px 5px 20px;
        margin: 10px;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

}

#root #pong #playerInfo1{
    bottom: 0;
    left: 15%;
    background-color: #0000ff66;
}

#root #pong #playerInfo2{
    top: 0;
    right: 15%;
    background-color: #ff000066;

}

#root #pong #playerInfo3{
    top: 0;
    left: 15%;
    background-color: #ffff0066;

}

#root #pong #playerInfo4{
    bottom: 0;
    right: 15%;
    background-color: #00ffff66;

}

#root #pong #player1avatar, #root #pong #player2avatar, #root #pong #player3avatar, #root #pong #player4avatar{
	border-radius: 20px;
	border: solid 5px;
	width: 150px;
	height: 150px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: -15px;
}

#root #pong #player1name, #root #pong #player2name, #root #pong #player3name, #root #pong #player4name{
	font-size: 20px;
}

#root #pong #p1Score, #root #pong #p2Score, #root #pong #p3Score, #root #pong #p4Score{
	border-radius: 20px;
	border: solid 5px;
	width: 75px;
	height: 50px;
	margin: 0 auto;
	margin-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 45px;

}
