/*PONG*/

#game {
	margin-top: 60px;
}

#pong #playerInfo1, #pong #playerInfo2, #pong #playerInfo3, #pong #playerInfo4 {
	text-align: center;
	width: 200px;
	height: 275px;
	border-radius: 20px;
	color: white;
	font-size: 1.3em;
	border: solid white 5px;
	box-shadow: white 5px 5px 20px;
	margin: 10px;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#pong #playerInfo1 {
	display: none;
	bottom: 3%;
	left: 2%;
	background-color: #69327A66;
}

#pong #playerInfo2 {
	display: none;
	top: 7%;
	right: 2%;
	background-color: #249DC666;
}

#pong #playerInfo3 {
	display: none;
	top: 7%;
	left: 2%;
	background-color: #ffff0066;
}

#pong #playerInfo4 {
	display: none;
	bottom: 3%;
	right: 2%;
	background-color: #00ffff66;
}

#pong #player1avatar, #pong #player2avatar, #pong #player3avatar, #pong #player4avatar {
	border-radius: 20px;
	border: solid 5px;
	width: 150px;
	height: 150px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: -15px;
}

#pong #player1name, #pong #player2name, #pong #player3name, #pong #player4name {
	font-size: 20px;
}

#pong #p1Score, #pong #p2Score, #pong #p3Score, #pong #p4Score {
	border-radius: 20px;
	border: solid 5px;
	width: 75px;
	height: 50px;
	margin: 0 auto;
	margin-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 45px;
}