/* ---------------------------------------------------------------------- */
/* ------------------------------ PONG ---------------------------------- */
/* ---------------------------------------------------------------------- */

#game {
	margin-top: 50px;
}

#playerInfo1, #playerInfo2, #playerInfo3, #playerInfo4 {
	text-align: center;
	width: calc(140px + 4.390625vw);
	height: calc(140px + 4.390625vw);
	border-radius: 20px;
	color: white;
	font-size: 1.3em;
	margin: 10px;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#playerInfo1 {
	display: none;
	bottom: 3%;
	left: 2%;
	background-image: url(../../../media/avatars/Corbeau.jpg);
	background-size: contain; /* Assure que l'image entière est visible, peut laisser un espace vide */
    background-position: center; /* Centre l'image dans le conteneur */
    background-repeat: no-repeat; 
	color: #249DC6;
	border: solid #249DC6 5px;
	box-shadow: #249DC6 0px 0px 20px;
}

#playerInfo2 {
	display: none;
	top: 7%;
	right: 2%;
	background-image: url(../../../media/avatars/Chevreuil.jpg);
	background-size: contain; /* Assure que l'image entière est visible, peut laisser un espace vide */
    background-position: center; /* Centre l'image dans le conteneur */
    background-repeat: no-repeat; 
	color: #69327A;
	border: solid #69327A 5px;
	box-shadow: #69327A 0px 0px 20px;
}

#playerInfo3 {
	display: none;
	top: 7%;
	left: 2%;
	background-image: url(../../../media/avatars/Ours.jpg);
	background-size: contain; /* Assure que l'image entière est visible, peut laisser un espace vide */
    background-position: center; /* Centre l'image dans le conteneur */
    background-repeat: no-repeat; 
	color: #F2D811;
	border: solid #F2D811 5px;
	box-shadow: #F2D811 0px 0px 20px;
}

#playerInfo4 {
	display: none;
	bottom: 3%;
	right: 2%;
	background-image: url(../../../media/avatars/Renard.jpg);
	background-size: contain; /* Assure que l'image entière est visible, peut laisser un espace vide */
    background-position: center; /* Centre l'image dans le conteneur */
    background-repeat: no-repeat; 
	color: #E68A2B;
	border: solid #E68A2B 5px;
	box-shadow: #E68A2B 0px 0px 20px;
}

/* #player1avatar,  #player2avatar,  #player3avatar,  #player4avatar {
	border-radius: 20px;
	border: solid 5px;
	width: 150px;
	height: 150px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: -15px;
} */


.playerScore {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	border-radius: 20px;
	border: solid 5px;
	padding: 10px;
	width: 90%;
	height: calc(15px + 0.390625vw);
	background-color: #000000;
	margin: 0 auto;
	font-family: 'Courier';
	font-size: calc(15px + 0.390625vw);
	position: absolute; /* Positionnement absolu par rapport au conteneur parent */
    bottom: -2px; /* Aligné au bas du conteneur parent */
    left: -4px; /* Aligné à gauche du conteneur parent */
}

#player1name,  #player2name,  #player3name,  #player4name {
	flex: 2;
	text-align: left;
}

#p1Score,  #p2Score,  #p3Score,  #p4Score {
	flex: 1;
	text-align: right;
}

#gameWindows {
	height: 500;
	width: 500;
	background-color: black;
	position: absolute;
	color: white;
	display: flex;
	margin: auto;
	justify-content: center;
	align-items: center;
	left: 40%;
}

#gameWindows #gameSettings{
	display: block;
}

#gameWindows #scoreBoard{
	display: none;
}

.settings-title {
	color: var(--soft-blue-color);
	font-size: calc(10px + 0.390625vw);
	margin-top: 10px;
	margin-bottom: 25px;
	text-align: center;
}

.select-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

#btPlayVs2, #btPlayRumble, #btPlayTourn {
	background-color: #00FAFA;
	color: black;
	font-weight: bold;
	width: 50%;
	margin-top: 10px;
}

#btPlayVs2:hover, #btPlayRumble:hover, #btPlayTourn:hover {
	background-color: #249DC6;
}