/* Component 3 */

position: absolute;
width: 513px;
height: 525px;
left: 703px;
top: 278px;



/* Rectangle 6 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: linear-gradient(270deg, #69327A 0%, #3089A8 100%);
border-radius: 20px;


/* Rectangle 7 */

position: absolute;
left: 5.65%;
right: 5.85%;
top: 5.33%;
bottom: 6.29%;

background: #000000;
border-radius: 20px;


/* Rectangle 11 */

position: absolute;
left: 18.32%;
right: 17.74%;
top: 62.67%;
bottom: 16.38%;

background: #2D2D2D;
box-shadow: 0px 0px 18.7px 4px #00FAFA;
border-radius: 20px;


/* LET’S GO! */

position: absolute;
left: 26.71%;
right: 25.93%;
top: 68.38%;
bottom: 21.9%;

font-family: 'Courier Prime';
font-style: normal;
font-weight: 400;
font-size: 45px;
line-height: 51px;
/* identical to box height */

color: #00FAFA;

text-shadow: 0px 4px 6.3px #68357C;


/* Rectangle 8 */

position: absolute;
left: 18.32%;
right: 17.74%;
top: 30.48%;
bottom: 61.14%;

background: linear-gradient(0deg, #5B5B5B, #5B5B5B), #5B5B5B;
border-radius: 20px;


/* Rectangle 9 */

position: absolute;
left: 18.32%;
right: 17.74%;
top: 47.43%;
bottom: 44.19%;

background: linear-gradient(0deg, #5B5B5B, #5B5B5B), #5B5B5B;


/* NICKNAME: */

position: absolute;
left: 18.32%;
right: 56.14%;
top: 25.71%;
bottom: 69.14%;

font-family: 'Courier Prime';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 25px;

color: #00FAFA;



/* PASSWORD: */

position: absolute;
left: 18.32%;
right: 56.14%;
top: 42.1%;
bottom: 52.57%;

font-family: 'Courier Prime';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 25px;

color: #00FAFA;



/* LOGIN */

position: absolute;
left: 36.26%;
right: 36.45%;
top: 12.95%;
bottom: 77.52%;

font-family: 'Courier Prime';
font-style: normal;
font-weight: 400;
font-size: 45px;
line-height: 51px;

background: linear-gradient(90deg, #C575E0 19.5%, #3190B0 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

