<div class="pong-container">
	<div class="pong-container-black">
		<div class="pong-container-login">
		<form id="login-form" method="post">
		{% csrf_token %}
			<div class="signup-header">
			<h2 class="header-title">WELCOME TO THE PONG GAME!</h2>
			<a
				onclick="loadContent('play/'); return false;"
				class="signup-description"
				style="cursor: pointer"
			>

			<div class="buttons-container">
        <button class="button1" type="submit">1 VS 1</button>
        <button class="button2">RUMBLE</button>
      </div>
			</div>
		</form>
		</div>
	</div>
</div>
