<div>
  <form id="login-form" method="post">
    {% csrf_token %}
    <div class="signup-container">
      <div class="signup-header">
        <h1 class="signup-title">Login</h1>
        <a
          onclick="loadContent('login/'); return false;"
          class="signup-description"
          style="cursor: pointer"
        >
          Welcome back
        </a>
      </div>
      <div class="signup-form">
        <div class="input-group">
          <label for="user">Username</label>
          <input
            id="user"
            placeholder="user"
            required=""
            type="text"
            name="user"
          />
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input id="password" name="password" required="" type="password" />
        </div>
        <p class="login-error-message"></p>
        <button id="login-button" class="signup-btn" type="submit">
          Login
        </button>
      </div>
    </div>
    <div class="lds-default">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </form>
</div>
