<div class="login-container">
  <div class="login-container-black">
    <div class="login-container-login">
      <form id="login-form" method="post">
        {% csrf_token %}
        <div class="signup-header">
          <h2 class="header-title">LOGIN</h2>
          <a
            onclick="loadContent('auth/login/'); return false; "
            class="signup-description"
            style="cursor: pointer"
          >
            WELCOME!
          </a>
        </div>
        <div class="signup-form">
          <div class="input-group">
            <div>
              <p class="signup-title">USERNAME:</p>
            </div>
            <input
              id="user"
              placeholder=""
              required=""
              type="text"
              name="user"
            />
          </div>
          <div class="input-group">
            <div>
              <p class="signup-title">PASSWORD:</p>
            </div>
            <input id="password" name="password" required="" type="password" />
          </div>
          <div class="error-container">
            <p class="login-error-message"></p>
          </div>
          <button class="signup-btn" type="submit">LOGIN</button>
          <button id="oauth-login" class="signup-btn" type="button">OAUTH</button>
        </div>
      </form>
    </div>
    <div class="lds-default">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
