<div class="onevsone-container">
	<div class="onevsone-container-black">
		{% csrf_token %}
		<div class="signup-header-onevsone">
			<h2 class="onevsone-title">1 VS 1</h2>
		</div>
		<div class="players-container">
			<div class="onevsone-grid-container">
				<div class="player1-grid-item">
					<div class="input-group player1-container">
						<p class="onevsone-player-title" data-translate="1vs1.player1"></p>
						<div>
							<form>
								<select id="p1colorSelect" class="button-settings">
									<option value="red" data-translate="1vs1.red"></option>
									<option value="blue" data-translate="1vs1.blue"></option>
									<option value="green" data-translate="1vs1.green"></option>
									<option value="yellow" data-translate="1vs1.yellow"></option>
									<option value="orange" data-translate="1vs1.orange"></option>
									<option value="purple" data-translate="1vs1.purple" selected></option>
								</select>
							</form>
						</div>
						<div class="player2-input-ok-container"> <!-- Nouveau conteneur pour aligner input et bouton -->
							<input
								id="player1nick"
								data-translate-placeholder="placeholder.player1"
								required=""
								type="text"
								name="player1"
							/>
						</div>
					</div>
				</div>
				<div class="input-group player2-container">
					<div class="player2-grid-item">
						<p class="onevsone-player-title" data-translate="1vs1.player2"></p>
						<div>
							<form>
								<select id="p2colorSelect" class="button-settings">
									<option value="red" data-translate="1vs1.red"></option>
									<option value="blue" data-translate="1vs1.blue" selected></option>
									<option value="green" data-translate="1vs1.green"></option>
									<option value="yellow" data-translate="1vs1.yellow"></option>
									<option value="orange" data-translate="1vs1.orange"></option>
									<option value="purple" data-translate="1vs1.purple"></option>
								</select>
							</form>
						</div>
						<div class="player2-input-ok-container"> <!-- Nouveau conteneur pour aligner input et bouton -->
							<input
								id="player2nick"
								data-translate-placeholder="placeholder.player2"
								required=""
								type="text"
								name="player2"
							/>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="button3-container">
			<button class="button4" id="btFight" onclick="loadContent('pong/playonevsone/'); return false;" type="submit" data-translate="1vs1.next"></button>
		</div>
	</div>
</div>