<div>
  <form id="otp-form" method="post">
    {% csrf_token %}
    <div class="login-container">
      <div class="login-container-black">
      <div class="login-container-login">
      <div class="signup-header">
        <h2 class="header-title" data-translate="otp.title"></h2>
      </div>
      <div class="signup-form">
        <div class="input-group">
          <label for="user">OTP</label>
          <input
            id="otp"
            placeholder="otp"
            required=""
            type="number"
            name="otp"
          />
        </div>
        <p class="otp-error"></p>
        <button id="otp-button" class="signup-btn" type="submit" data-translate="otp.verif"></button>
      </div>
      <div class="lds-default">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      </div>
      </div>
    </div>
  </form>
</div>
