<div id="root">
	<div id="pong">
	<!-- <div id="lobby">
	  <label for="tournLength">Tournament length :</label>
	  <input name="tournLength" id=tournLength type="text" value="1">
	  <button id="startTourn">Play</button>
	  <div>Player 1 Score: <span id="p1TournScore">8</span></div>
	  <div>Player 2 Score: <span id="p2TournScore">0</span></div>
	  <div>Player 3 Score: <span id="p3TournScore">0</span></div>
	  <div>Player 4 Score: <span id="p4TournScore">0</span></div>
	</div> -->
	<div id="playerInfo1">
	  <div id="p1Score">0</div>
	  <div id="player1avatar">
		W S<br><br><br>
		touche special<br>
		J K O 1 V
		<img src="" alt="">
	  </div>
	  <p id="player1name">player 1 name</p>
	</div>
	<div id="playerInfo2">
	  <div id="p2Score">0</div>
	  <div id="player2avatar">
		FLECHE HAUT et BAS
		<img src="" alt="">
	  </div>
	  <p id="player2name">player 2 name</p>
	</div>
	<div id="playerInfo3">
	  <div id="p3Score">0</div>
	  <div id="player3avatar">
		G H
		<img src="" alt="">
	  </div>
	  <p id="player3name">player 3 name</p>
	</div>
	<div id="playerInfo4">
	  <div id="p4Score">0</div>
	  <div id="player4avatar">
		NUMPAD 8 9
		<img src="" alt="">
	  </div>
	  <p id="player4name">player 4 name</p>
	</div>
  </div>
</div>