<div id="root">
	<div id="ui">
		<div id="gameWindows">
			<div id="gameSettings">
				<div class="custom-length-container">
					<div class="custom-length-container-black">
						<div class="signup-header">
							<h2 class="header-title">GAME<br>SETTINGS</h2>
						</div>
						<div class="select-container">
							<p class="settings-title">LIVES</p>
							<form>
								<select id="defaultLives" class="button-settings">
									<option value="1" selected>1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
								</select>
							</form>
						</div>
						<div class="select-container">
							<p class="settings-title">VIEW</p>
							<form>
								<select id="defaultView" class="button-settings">
									<option value="0">Top</option>
									<option value="1" selected>Side</option>
								</select>
							</form>
						</div>
						<div class="select-container">
							<p class="settings-title">PADDLES</p>
							<form>
								<select id="defaultPaddle" class="button-settings">
									<option value="150">Larger</option>
									<option value="75" selected>Normal</option>
									<option value="50">Smaller</option>
								</select>
							</form>
						</div>
						<div class="select-container">
							<p class="settings-title">POWER UP</p>
							<form>
								<select id="defaultPowerUp" class="button-settings">
									<option value="0">Enable</option>
									<option value="1" selected>Disable</option>
								</select>
							</form>
						</div>
						<button class="button-settings" id="btPlayVs2">LET'S FIGHT!!!</button>
					</div>
				</div>
			</div>	
			<div id="scoreBoard">
				<div class="custom-score-container">
					<div class="custom-score-container-black">
						<div class="signup-header-custom">
							<h2 class="custom-title">GAME WINNER</h2>
						</div>
						<p  class="custom-player-final" id="winner"></p>
					</div>
				</div>	
			</div>	
		</div>
		<div id="playerInfo1">
			<div class="playerScore">
				<p id="player1name">player 1</p>
				<p id="p1Score">0</p>
				<img id="player1avatar" src="" alt="">
			</div>
		</div>
		<div id="playerInfo2">
			<div class="playerScore">
				<p id="player2name">player 2</p>
				<p id="p2Score">0</p>
				<img id="player2avatar" src="" alt="">
			</div>
		</div>
		<div id="playerInfo3">
			<div class="playerScore">
				<p id="player3name">player 3</p>
				<div id="p3Score">0</div>
				<img id="player3avatar" src="" alt="">
			</div>
		</div>
		<div id="playerInfo4">
			<div class="playerScore">
				<p id="player4name">player 4</p>
				<div id="p4Score">0</div>
				<img id="player4avatar" src="" alt="">
			</div>
		</div>
	</div>
</div>