<div id="root">
	<div id="ui">
		<div id="gameWindows">
			<div id="gameSettings">
				<div class="custom-length-container">
					<div class="custom-length-container-black">
						<div class="signup-header">
							<h2 class="header-title" data-translate="play1vs1.title"></h2>
						</div>
						<div class="select-container">
							<p class="settings-title" data-translate="playtournaments.length"></p>
							<form>
								<select id="defaultGames" class="button-settings">
									<option value="2" selected>2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
								</select>
							</form>
						</div>
						<div class="select-container">
							<p class="settings-title" data-translate="play1vs1.lives"></p>
							<form>
								<select id="defaultLives" class="button-settings">
									<option value="1" selected>1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
								</select>
							</form>
						</div>
						<div class="select-container">
							<p class="settings-title" data-translate="play1vs1.view"></p>
							<form>
								<select id="defaultView" class="button-settings">
									<option value="0" data-translate="play1vs1.top"></option>
									<option value="1" data-translate="play1vs1.side" selected></option>
								</select>
							</form>
						</div>
						<div class="select-container">
							<p class="settings-title" data-translate="play1vs1.paddles"></p>
							<form>
								<select id="defaultPaddle" class="button-settings">
									<option value="150" data-translate="play1vs1.larger"></option>
									<option value="75" data-translate="play1vs1.normal" selected></option>
									<option value="50" data-translate="play1vs1.smaller"></option>
								</select>
							</form>
						</div>
						<div class="select-container">
							<p class="settings-title" data-translate="play1vs1.powerup"></p>
							<form>
								<select id="defaultPowerUp" class="button-settings">
									<option value="1" data-translate="play1vs1.enable"></option>
									<option value="0" data-translate="play1vs1.disable" selected></option>
								</select>
							</form>
						</div>
						<button class="button-settings" id="btPlayTourn" data-translate="play1vs1.letsfight"></button>
					</div>
				</div>
			</div>	
			<div id="scoreBoard">
				<div class="custom-score-container">
					<div class="custom-score-container-black">
						<div class="signup-header-custom">
							<h2 class="custom-title" data-translate="playtournaments.scoreboard"></h2>
						</div>
						<table class="score-table">
							<tr>
								<th data-translate="playtournaments.players"></th>
								<th data-translate="playtournaments.score"></th>
							</tr>
							<tr>
								<td>Player 1</td>
								<td><span id="p1TournScore">0</span></td>
							</tr>
							<tr>
								<td>Player 2</td>
								<td><span id="p2TournScore">0</span></td>
							</tr>
							<tr>
								<td>Player 3</td>
								<td><span id="p3TournScore">0</span></td>
							</tr>
							<tr>
								<td>Player 4</td>
								<td><span id="p4TournScore">0</span></td>
							</tr>
						</table>
						<button class="button6" id="btNextRound" data-translate="playtournaments.nextround"></button>
						<p class="custom-player-final" id="winner"></p>
					</div>
				</div>
			</div>
		</div>
		<div id="playerInfo1">
			<div class="playerScore">
				<p id="player1name"></p>
				<p id="p1Score">0</p>
				<img id="player1avatar" src="" alt="">
			</div>
		</div>
		<div id="playerInfo2">
			<div class="playerScore">
				<p id="player2name"></p>
				<p id="p2Score">0</p>
				<img id="player2avatar" src="" alt="">
			</div>
		</div>
		<div id="playerInfo3">
			<div class="playerScore">
				<p id="player3name"></p>
				<div id="p3Score">0</div>
				<img id="player3avatar" src="" alt="">
			</div>
		</div>
		<div id="playerInfo4">
			<div class="playerScore">
				<p id="player4name"></p>
				<div id="p4Score">0</div>
				<img id="player4avatar" src="" alt="">
			</div>
		</div>
	</div>
</div>
