<div id="root">
  <div id="pong">
    <div id="playerInfo1">
      <div id="p1Score">0</div>
      <div id="player1avatar">
        <img src="" alt="">
      </div>
      <p id="player1name">player 1 name</p>
    </div>
    <script src="../static/js/pongvs4.js" type="module"></script>
    <div id="playerInfo2">
      <div id="p2Score">0</div>
      <div id="player2avatar">
        <img src="" alt="">
      </div>
      <p id="player2name">player 2 name</p>
    </div>
  </div>
  <!-- Specific content for the 'Play' page goes here -->
</div>

<!-- <div id="game">
  
  <canvas id="canvasPong"></canvas>
  <div class="playerInfo">
    <div id="p2Score">0</div>
    <div id="player2avatar">
      <img src="" alt="">
    </div>
    <p id="player2name">player 2 name</p>
  </div>
</div> -->