<div class="pong-container">
	<div class="pong-container-black">
		<div class="pong-container-login">
			{% csrf_token %}
			<div class="signup-header">
				<h2 class="header-title">WHAT KIND OF GAME YOU WANNA PLAY?</h2>
				<div class="buttons-container">
					<button class="button1" onclick="loadContent('pong/onevsone/'); return false;" type="submit">1 VS 1</button>
					<button class="button2" onclick="loadContent('pong/rumble'); return false;" type="submit">RUMBLE</button>
				</div>
			</div>
		</div>
	</div>
</div>
