<div id="root">
  <div id="pong">
    {% comment %}
    <script src="../static/js/pong/pong_var.js" type="module" defer></script>
    <script src="../static/js/pong/pong_obj.js" type="module" defer></script>
    <script src="../static/js/pong/pong_light.js" type="module" defer></script>
    <script src="../static/js/pong/pongvs4.js" type="module" defer></script>
    {% endcomment %}
    <canvas
      id="game"
      data-engine="three.js r149"
      width="1964"
      height="984"
      style="width: 1964px; height: 984px; touch-action: none"
    ></canvas>
    <div id="playerInfo1">
      <div id="p1Score">0</div>
      <div id="player1avatar">
        <img src="" alt="" />
      </div>
      <p id="player1name">player 1 name</p>
    </div>
    <div id="playerInfo2">
      <div id="p2Score">0</div>
      <div id="player2avatar">
        <img src="" alt="" />
      </div>
      <p id="player2name">player 2 name</p>
    </div>
    <div id="playerInfo3">
      <div id="p3Score">0</div>
      <div id="player3avatar">
        <img src="" alt="" />
      </div>
      <p id="player3name">player 3 name</p>
    </div>
    <div id="playerInfo4">
      <div id="p4Score">0</div>
      <div id="player4avatar">
        <img src="" alt="" />
      </div>
      <p id="player4name">player 4 name</p>
    </div>
  </div>
</div>
