{% load static %}
<div class="profile-container">
	<div class="profile-container-black">
		<div class="profile-container-login">
			<div class="signup-header">
				<h2 class="profile-title" data-translate="profile.title"></h2>
				{% if user_data %}
				
				<div class="profile-grid-container">
					<!-- Grid item 1: Personnal informations -->
					<div class="perso-grid-item">
						<img src="{{ user_data.avatar }}" alt="User Avatar" width="100" />
						<div class="profile-text-container">
							<h3 class="title-profile-item" data-translate="profile.infos"></h3>
								<div class="profile-informations">
									<p>{{ user_data.username }}</p>
									<p>{{ user_data.email }}</p>
									<p>{{ user_data.activity }}</p>
									<p>{{ user_data.language }}</p>
								</div>
						</div>
					</div>

					<!-- Grid item 2: Games stats -->
					<div class="stats-grid-item">
						<h3 class="title-profile-item">STATS:</h3>
						<div class="profile-informations">
							<p data-translate="profile.playedgames"></p>
							<p data-translate="profile.wongames"></p>
							<p data-translate="profile.lostgames"></p>
							<p data-translate="profile.winsrate"></p>
						</div>
					</div>

					<!-- Grid item 3: Friends list -->
					<div class="friends-grid-item">
						<h3 class="title-profile-item" data-translate="profile.friends"></h3>
						<div class="profile-informations">
							<ul class="friends-list">
								<div class="input-group embeded-intput-btn">
									<input type="text" name="add-friend-intput" id="add-friend-input" placeholder="Add friend ...">
									<button id="add-friend-btn">+</button>
								</div>
								{% for friend in user_data.friends %}
								<li class="user-status-entry">
									<span class="username">{{friend.username}}</span>
									
									<span class="user-status-circle"
										style="background-color: {% if friend.activity == 'ON' %}green{% elif friend.activity == 'OF' %}red{% else %}yellow{% endif %}"></span>
								</li>
								{% endfor %}
							</ul>
							
						</div>
					</div>

					<!-- Grid item 4: Game history -->
					<div class="historic-grid-item">
						<h3 class="title-profile-item" data-translate="profile.history"></h3>
						<div class="profile-informations">
							<p><strong>Victory</strong> vs. Bill  [2024-03-12]</p>
							<p><strong>Victory</strong> vs. John  [2024-03-11]</p>
							<p><i>Defeat</i> vs. John  [2024-03-11]</p>
							<p><i>Defeat</i> vs. Pol  [2024-03-11]</p>
							<p><strong>Victory</strong> vs. Pol	[2024-03-11]</p>
						</div>
					</div>
					

				</div>
			</div>
			<div class="button-settings-container">
				<button class="button3" id="view-settings-button" type="button" data-translate="profile.settings"></button>
			</div>

				{% else %}
				<p>No user data available.</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>
