<form id="signup-form" method="post">
  {% csrf_token %}
  <div class="signup-container">
    <div class="signup-header">
      <h1 class="signup-title">Sign Up</h1>
      <a
        onclick="loadContent('login/'); return false;"
        class="signup-description"
        style="cursor: pointer"
      >
        Already have an
        <span style="text-decoration: underline">account</span> ?
      </a>
    </div>
    <div class="signup-form">
      <div class="input-row">
        <div class="input-group">
          <label for="username">Username</label>
          <input
            id="username"
            placeholder="Lee"
            name="username"
            required="true"
          />
        </div>
      </div>
      <div class="input-group">
        <label for="email">Email</label>
        <input
          id="email"
          placeholder="m@example.com"
          required="true"
          type="email"
          name="email"
        />
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input id="password" required="true" type="password" name="password" />
      </div>
      <div class="input-group">
        <label for="confirm-password">Confirm Password</label>
        <input
          id="confirm-password"
          required="true"
          type="password"
          name="password2"
        />
      </div>
      <p class="signup-error"></p>
      <button class="signup-btn" type="submit">Sign Up</button>
    </div>
  </div>
</form>