<div class="pong-container">
	<div class="pong-container-black">
		<div class="pong-container-login">
			{% csrf_token %}
			<div class="signup-header">
				<h2 class="header-title">RULES OF PONG GAME!</h2>
				<div id="rules">
					<h3>Welcome to Pong Transcendence!</h1>
						<h4>Game Modes:</h2>
							<ul>
								<li><strong>Solo:</strong> Play classic Pong, but each point is represented by a life.</li>
								<li><strong>Rumble:</strong> A four-player experience where each player is eliminated when they lose all their lives. The game continues until only one player remains.</li>
								<li><strong>Tournaments:</strong> The Rumble mode is played with a defined number of games. Players earn points after each game:
									<ul>
										<li>1st place: 10 points</li>
										<li>2nd place: 5 points</li>
										<li>3rd place: 3 points</li>
									</ul>
									The winner is the player with the highest cumulative score. In case of a tie, an additional game is played.
								</li>
							</ul>
							<p><strong>For a better experience in Rumble, use two keyboards.</strong></p>
					<h4>Gameplay Options:</h2>
						<ul>
							<li>Number of lives for players</li>
							<li>View:
						<ul>
							<li>Top: classic top-down view</li>
							<li>Side: side view with enhanced 3D effects</li>
						</ul>
						</li>
						<li>Paddle width</li>
						<li>Power-up: after three bounces, the green light indicates that the power-up is ready. When activated, the paddle teleports in front of the ball and follows it.</li>
					</ul>
					<h4>Player controls:</h2>
					<ul>
						<li>Player 1:<li>
						<ul>
							<li>Movement: <span>W, S</span></li>
							<li>Power-up: <span>Q</span></li>
						</ul>
						<li>Player 2:<li>
						<ul>
							<li>Movement: <span>Arrow UP, Arrow DOWN</span></li>
							<li>Power-up: <span>Arrow RIGHT</span></li>
						</ul>
						<li>Player 3:<li>
						<ul>
							<li>Movement: <span>H, J</span></li>
							<li>Power-up: <span>G</span></li>
						</ul>
						<li>Player 4:<li>
						<ul>
							<li>Movement: <span>7, 8</span></li>
							<li>Power-up: <span>9</span></li>
						</ul>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>