<div class="pong-container">
	<div class="pong-container-black">
		<div class="pong-container-login">
			{% csrf_token %}
			<div class="signup-header">
				<h2 class="header-title" data-translate="rules.title"></h2>
				<div id="rules">
					<h3 data-translate="rules.welcome"></h1>
						<h4 data-translate="rules.gameModes"></h2>
							<ul>
								<li data-translate="rules.soloDescription"></li>
								<li data-translate="rules.rumbleDescription"></li>
								<li data-translate="rules.tournamentsDescription1"></li>
									<ul>
										<li data-translate="rules.tournamentsDescription2"></li>
										<li data-translate="rules.tournamentsDescription3"></li>
										<li data-translate="rules.tournamentsDescription4"></li>
									</ul>
									<p data-translate="rules.tournamentsDescription5"></p>
							
							</ul>
							<p data-translate="rules.advice"></p>
					<h4 data-translate="rules.gameplayOptions"></h2>
						<ul>
							<li data-translate="rules.gameplayLives"></li>
							<li data-translate="rules.gameplayView"></li>
						<ul>
							<li data-translate="rules.gameplayTop"></li>
					
						</ul>
					
						<li data-translate="rules.gameplayPaddle"></li>
						<li data-translate="rules.gameplayPowerup"></li>
					</ul>
					<h4 data-translate="rules.gameplayPlayerControls"></h2>
					<ul>
						<li data-translate="rules.player1"><li>
							<ul>
								<li data-translate="rules.player1Movement"></li>
								<li data-translate="rules.player1Powerup"></li>
							</ul>
							<li data-translate="rules.player2"><li>
								<ul>
								<li data-translate="rules.player2Movement"></li>
								<li data-translate="rules.player2Powerup"></li>
							</ul>
						<li data-translate="rules.player3"><li>
							<ul>
								<li data-translate="rules.player3Movement"></li>
								<li data-translate="rules.player3Powerup"></li>
							</ul>
						<li data-translate="rules.player4"><li>
						<ul>
							<li data-translate="rules.player4Movement"></li>
							<li data-translate="rules.player4Powerup"></li>
						</ul>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>