{% load static %}
<div class="settings-container">
	<div class="settings-container-black">
		<div class="settings-container-login">
			<div class="signup-header">
				<h2 class="profile-title" data-translate="profile.settings"></h2>
				<div class="update-profile">
					<form id="profile-update-form" enctype="multipart/form-data">
						<div class="input-group">
							<div id="settings-input-group">
								<select name="activity" class="button-settings" id="select-status">
									<option value="" disabled selected data-translate="settings.statusSelect"></option>
									<option value="ON" data-translate="settings.statusOnline"></option>
									<option value="UN" data-translate="settings.statusUnavailable"></option>
									<option value="OF" data-translate="settings.statusOffline"></option>
								</select>
								<select name="language" class="button-settings" id="select-language">
									<option value="" disabled selected data-translate="settings.statusLanguage"></option>
									<option value="en" data-translate="settings.statusEnglish"></option>
									<option value="fr" data-translate="settings.statusFrench"></option>
									<option value="es" data-translate="settings.statusSpanish"></option>
								</select>
								<label for="avatar-upload" id="update-avatar" class="button-settings" data-translate="settings.uploadAvatar"></label>
								<input type="file" id="avatar-upload" name="avatar" class="file-input"/>
								<label for="username-update" id="update-username" data-translate="login.username"></label>
								<input type="text" id="username-update" name="username-update" />
								<label for="email-update" id="update-email">EMAIL: </label>
								<input type="text" id="email-update" name="email-update" />
							</div>
						</div>
						<div button-settings-container>
							{% if user.is_oauth is False%}
							<div button-settings-container>
								<button class="button-settings" id="enable-2fa-button" type="button">
									{% if user.twoFA is False%} Enable 2FA {% else %} Disable 2FA {% endif %}
								</button>
							</div>
							{% endif %}
							<div id="profile-update-alert" class="alert alert-success" role="alert" style="display:none;" data-translate="settings.updateSuccessfully"></div>
							<button type="submit" class="button-settings" id="update-profile-button" data-translate="settings.saveChanges"></button>
						</div>
					</form>
					<p id="profile-update-errors"></p>
				</div>
				<button class="button-settings" id="button-delete-user" type="button" data-translate="settings.deleteAccount"></button>
				<div button-settings-container>
					<button class="button-settings" id="view-profile-button" type="button" data-translate="settings.backProfile"></button>
				</div>
			</div>
		</div>
	</div>
</div>
